Flask
pywebview

# pip install -r requirements.txt
# accounts test
# username :admin
# password :123
# username :nguyenvanan
# password :123
# username :tranthibich
# password:123
# username :lehoangcuong
# password :123
# username :phamminhduc 
# password:123
# username :vuthihoa
# password:123
